* {
  margin: 0;
  padding: 0
}

#box {
  position: relative;
  margin: 8px auto;
  border: 10px solid #000;
  overflow: hidden
}

#box li {
  list-style: none;
  box-shadow: 0 0 0 1px #000 inset;
  font-size: 12px
}

body {
  text-align: center;
  background: linear-gradient(to bottom, #faf0ca 0, #fff 100%) no-repeat fixed 0 0
}

.box0 {
  width: 70px;
  height: 70px;
  background: #f9ea5b;
  float: left
}

.box1 {
  width: 70px;
  height: 70px;
  background: #f9576c;
  float: left
}

.box2 {
  width: 70px;
  height: 70px;
  background: #eeaa5d;
  float: left
}

.box3 {
  width: 70px;
  height: 70px;
  background: #c0f75e;
  float: left
}

.box4 {
  width: 70px;
  height: 70px;
  background: #56c5ea;
  float: left
}

.box5 {
  width: 70px;
  height: 70px;
  background: #d7d7d7;
  float: left
}